.expo
.expo-shared
.vscode
ApplePushServices.p12
KEYSTORE.MD
android/
bangumi.jks
bangumi.mobileprovision
data/omit/
dist/
data/subject/l-origin/
data/subject/l-update/
iPhoneDistribution.p12
ios/
node_modules
yarn.lock